body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
section{
    height: 500px;
    padding-bottom: 50px;
}


.half-width{
    width: 40%;
    margin: 2%;
    padding: 2%;
    float: left;
}
.half-width img{
    width: 70%;
}
.name-color{
    color: salmon;
}
h1{
    font-size: 45px;
    font-weight: bold;
}
a{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(20deg,yellowgreen,yellow);
    border-radius: 10px;
}
h2{
    font-size: 35px;
    font-weight: bold;
}
.image-floting img{
    float: left;
    width: 25%;
    margin-left: 5%;
}
#align{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
}
#lasted-color{
    color: orangered;
}
#connect-align{
    text-align: center;
}
#design-align{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#icon{
    text-align: center;
}
#icon img{
    width: 3%;
    padding-left: 10px;
}




